<%= link_to 'Add New', new_mlog_entry_path(:id => @col.id), class: "btn btn-primary" %>
<br/>
<br/>
<table class="table table-striped">
  <tr>
    <th>Accession Num</th>
    <th>Media ID</th>
    <th>Media Type</th>
    <th>Imaging success</th>
    <th>Size</th>

    <th></th>
  </tr>


  <div class="page">
  <%= paginate @mlog_entries %>
  </div>
  <% @mlog_entries.each do |mlog_entry| %>
    <tr>
      <td>
        <%= link_to(mlog_entry.accession_num, 
          "/accession?accession=" + mlog_entry.accession_num + "&collection=" + @col.id.to_s)
        %>
      </td>
      <td><%= link_to mlog_entry.media_id, mlog_entry_path(mlog_entry) %></td>
      <td><%= MLOG_VOCAB["mediatypes"][mlog_entry.mediatype] %></td>
      <td><%= MLOG_VOCAB["image_success"][mlog_entry.imaging_success] %></td>
      <td>
        <% if mlog_entry.image_size_bytes != nil then %>
          <%= human_size(mlog_entry.image_size_bytes) %>
        <% else %>
         --
        <% end %>
      </td>
    </tr>
  <% end %>


</table>