<%= form_for :collection, url: collections_path  do |f| %>

  <p>
      <%= f.label MLOG_VOCAB["partner_codes"][params[:repository_code]] %><br>
      <%= f.hidden_field :partner_code, :value => params[:repository_code] %>
  <p>
 
  <p>
    <%= f.label :collection_code %><br>
    <%= f.text_field :collection_code %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <%= f.hidden_field :modified_by, :value => current_user.id %>

  <%= f.hidden_field :created_by, :value => current_user.id %>


  <p>  
    <%= f.submit %>
  </p>
<% end %>
