<br />

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= MLOG_VOCAB["partner_codes"][params[:repository_code]] %></div>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <theader>
        <tr>
          <th>identifier</th>
          <th>title</th>
          <th>extent</th>
        <tr>
      </theader>
      <tbody>
        <% @collections.each do |collection| %>
          <tr>
            <td><%= link_to collection.collection_code, collection_path(collection.id) %> </td>
            <td><%= collection.title %></td>
            <td>tbd</td>
          </tr>
        <% end %>   
      </tbody>
    </table>
  <%= link_to 'Add Collection', new_collection_path(:repository_code => params[:repository_code]), class: "btn btn-primary" %>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formats</h3>
  </div>
  <div class="panel-body">

    <table class="table table-condensed">
          <tr>
            <th>type</th>
            <th>count</th>
            <th>size</th>
          </tr>
          <% @type_data.each do |media_type, value| %>
            <tr>
              <td><%= MLOG_VOCAB['mediatypes'][media_type] %></td>
              <td><%= value[:count] %></td>
              <td><%= human_size value[:size] %></td>
            </tr>
          <% end %>
          <tr>
            <td/>
            <td><b><%= @total_count %></b></td>
            <td><b><%= human_size(@total_size) %></b></td>
        </table>
  </div>
</div>