<br/>

<div class="panel panel-default">
  <div class="panel-body">
  	<h4>
  		<%= link_to(MLOG_VOCAB["partner_codes"][@collection.partner_code], "/repository/" + @collection.partner_code) %>
	</h4>
	<h3><%= @collection.collection_code + " " + @collection.title %></h3>
  <table width="100%">
    <tr>
      <td width="50%" valign="top">
  	    <p>
        	created by <%= @creator %> at <%= @collection.created_at.to_date %> <br/>
        	updated at <%= @modifier %> at <%= @collection.updated_at.to_date %><br/>
      	</p>
      </td>
      <td>
        <table class="table table-condensed">
          <tr>
            <th>type</th>
            <th>count</th>
            <th>size</th>
          </tr>
          <% @type_data.each do |media_type, value| %>
            <tr>
              <td><%= MLOG_VOCAB['mediatypes'][media_type] %></td>
              <td><%= value[:count] %></td>
              <td><%= human_size value[:size] %></td>
            </tr>
          <% end %>
          <tr>
            <td><b>total</b></td>
            <td><b><%= @mlog.size %></b></td>
            <td><b><%= human_size(@total_size) %></b></td>
        </table>
      </td>
    </tr>
  </table>
	<%= link_to 'Edit', edit_collection_path(@collection), class: "btn btn-primary" %>
	<% if current_user.try(:admin?) %> 
	  <%= link_to 'Destroy', @collection, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
	<% end %>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Accessions</h3>
  </div>
  <div class="panel-body">
  	<table class="table-striped">
	  <% @accessions.each do |accession| %>	
	    <tr>
	      <td><%= link_to accession.accession_num, accession_path(accession.id) %></td>
	    </tr>
	  <% end %>
  	</table><br/>
  	<%= link_to 'Add Accession', new_accession_path(:collection_id => @collection.id), class: "btn btn-primary" %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Media Objects</h3>
  </div>
  <%= render :partial => 'shared/table' %> 
</div>