<h3>
  <%= link_to(MLOG_VOCAB["partner_codes"][@col.partner_code], "/repository/" + @col.partner_code) %>
</h3>
<h4><%= @col.collection_code + " " + @col.title %></h4>
<p>created at <%= @col.created_at %> updated at <%= @col.updated_at %> </p>
<%= link_to 'Edit', edit_collection_path(@col), class: "btn btn-primary" %>
<%= link_to 'Destroy', @col, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<br/>
<br/>
<h3>media objects</h3>
<%= link_to 'Add New', new_mlog_entry_path(:id => @col.id), class: "btn btn-primary" %>
<%= render 'entrytable' %>