<br/>

<div class="panel panel-default">
  <div class="panel-body">
  	<h4>
  		<%= link_to(MLOG_VOCAB["partner_codes"][@collection.partner_code], "/repository/" + @collection.partner_code) %>
	</h4>
	<h3><%= @collection.collection_code + " " + @collection.title %></h3>
  <table width="100%">
    <tr>
      <td width="50%" valign="top">
  	    <p>
        	created at <%= @collection.created_at %> <br/>
        	updated at <%= @collection.updated_at %><br/>
      	</p>
      </td>
      <td>
        <table class="table table-condensed">
          <tr>
            <th>type</th>
            <th>count</th>
            <th>size</th>
          </tr>
          <% @type_data.each do |media_type, value| %>
            <tr>
              <td><%= MLOG_VOCAB['mediatypes'][media_type] %></td>
              <td><%= value[:count] %></td>
              <td><%= human_size value[:size] %></td>
            </tr>
          <% end %>
          <tr>
            <td><b>total</b></td>
            <td><b><%= @mlog.size %></b></td>
            <td><b><%= human_size(@total_size) %></b></td>
        </table>
      </td>
    </tr>
  </table>
	<%= link_to 'Edit', edit_collection_path(@collection), class: "btn btn-primary" %>
	<% if current_user.try(:admin?) %> 
	  <%= link_to 'Destroy', @collection, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
	<% end %>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Accessions</h3>
  </div>
  <div class="panel-body">
  	<table class="table-striped">
	  <% @accessions.each do |accession| %>	
	    <tr>
	      <td><%= link_to accession.accession_num, accession_path(accession.id) %></td>
	    </tr>
	  <% end %>
  	</table><br/>
  	<%= link_to 'Add Accession', new_accession_path(:collection_id => @collection.id), class: "btn btn-primary" %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Media Objects</h3>
  </div>
  <div class="panel-body">
    <%= render 'lookup' %>
    <table class="table table-striped">
		  <tr>
		    <th>Accession Num</th>
		    <th>Media ID</th>
		    <th>Media Type</th>
		    <th>Size</th>
		    <th>Imaging success</th>
		  </tr>
  		<div class="page">
  			<%= paginate @mlog_entries %>
  		</div>
  		<% @mlog_entries.each do |mlog_entry| %>
		    <tr>
	        <td>
	          <% if (mlog_entry.accession_id != nil) then %>
	            <%= link_to @min_accessions[mlog_entry.accession_id], accession_path(mlog_entry.accession_id) %>
	          <% end %>
	        </td>
		      <td><%= link_to mlog_entry.media_id, mlog_entry_path(mlog_entry) %></td>
		      <td><%= MLOG_VOCAB["mediatypes"][mlog_entry.mediatype] %></td>
		      <td>
		        <% if mlog_entry.stock_size_num != nil %>
		          <%= mlog_entry.stock_size_num.to_s  + " " + mlog_entry.stock_unit %>
		        <% end %>
		      </td>
		      <td><%= MLOG_VOCAB["image_success"][mlog_entry.imaging_success] %></td>
		    </tr>
  		<% end %>
		</table><br />
	</div>
</div>