<br />

<h3><%= link_to(MLOG_VOCAB["partner_codes"][@collection.partner_code], "/repository/" + @collection.partner_code) %></h3>

<h4><%= link_to(@collection.collection_code + ": " + @collection.title, @collection) %></h2>

<br />
<b>media objects</b>
<br />
<table class="table">
  <thead>
    <tr>
      <th width="5%">id</th>
      <th width="25%">type</th>
      <th width="35%">lable text</th>
      <th width="35%">uuid</th>
    </tr>
  </thead>
  <tbody>
    <% @mlog_entries.each do |mlog_entry| %>
      <tr>
 	    <td><%= mlog_entry.media_id %></td>
 	    <td><%= mlog_entry.mediatype %></td>
      <td><%= mlog_entry.label_text %></td>
 	    <td><%= link_to mlog_entry.id, mlog_entry_path(mlog_entry) %></td>
 	  </tr>
    <% end %>
  </tbody>
</table>