<br />
<br />
<%= form_for(@mlog_entry, html: {role: 'form'}) do |f| %>
  <% if @mlog_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mlog_entry.errors.count, "error") %> prohibited this mlog_entry from being saved:</h2>

      <ul>
        <% @mlog_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="panel panel-default">
  <div class="panel-body">
    <h4><%= MLOG_VOCAB["partner_codes"][@collection.partner_code] %></h4>
    <h4><%= @collection.title %></h4>
    <h4><%= "accession: " + @accession.accession_num %></h4>
  </div>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h4 class="panel-title"><%= t(:physical_data) %></h4>
  </div>
  <div class="panel-body">

    <div class="field">
      <%= f.label :media_id %><br>
      <%= f.number_field :media_id %>
    </div>
   
    <div class="field">
      <%= f.label :mediatype %><br>
      <%= f.select(:mediatype, MLOG_VOCAB["mediatypes"].invert, :include_blank => true ) %>
    </div>


    <div class="field">
      <table >
        <tr>
          <td><%= f.label :stock_size_num %></td><td><%= f.label :stock_unit %></td>
        </tr>
          <td><%= f.number_field :stock_size_num, :class => 'text_field', :step => 'any' %></td><td><%= f.select(:stock_unit, MLOG_VOCAB["stock_unit"].invert, :include_blank => false ) %></td>
        </tr>
      </table>
    </div>

    <div class="field">
      <%= f.label :content_type %><br>
      <%= f.select(:content_type, MLOG_VOCAB["content_type"].invert, :include_blank => true ) %>
    </div>

    <div class="field">
      <%= f.label :label_text %><br>
      <%= f.text_area :label_text, size: "80x10" %>
    </div>    

    <div>
      <div class="field">
        <%= f.label "box_number" %><br>
        <%= f.number_field :box_number %>
      </div>
    </div>
    
    <div class="field">
      <%= f.label 'Original Id'%><br>
      <%= f.text_field :original_id %>
    </div>
   
    <div class="field">
      <%= f.label 'Ref Id' %><br>
      <%= f.text_field :ref_id %>
    </div>

    <div class="field">
      <%= f.label :manufacturer %><br>
      <%= f.text_field :manufacturer %>
    </div>

    <div class="field">
      <%= f.label :manufacturer_serial %><br>
      <%= f.text_field :manufacturer_serial %>
    </div>

    
    <div class="field">
      <%= f.label :media_note %><br>
      <%= f.text_area :media_note, size: "40x5" %>
    </div>

    <div class="field">
      <%= f.label :disposition_note %><br>
      <%= f.text_area :disposition_note, size: "40x5" %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h4 class="panel-title"><%= t(:image_file_data) %></h4>
  </div>
  <div class="panel-body">
    
    <div class="field">
      <%= f.label :image_filename %><br>
      <%= f.text_field :image_filename %>
    </div>
    
    <div class="field">
      <%= f.label :interface %><br>
      <%= f.select(:interface, MLOG_VOCAB["interfaces"].invert, :include_blank => true ) %>
    </div>
    
    <div class="field">
      <%= f.label :imaging_software %><br>
      <%= f.select(:imaging_software, MLOG_VOCAB["imaging_software"].invert, :include_blank => true ) %>
    </div>
    
    <div class="field">
      <%= f.label :hdd_interface %><br>
      <%= f.select(:hdd_interface, MLOG_VOCAB["hdd_interfaces"].invert, :include_blank => true ) %>
    </div>
    
    <div class="field">
      <%= f.label :imaging_success %><br>
      <%= f.select(:imaging_success, MLOG_VOCAB["image_success"].invert, :include_blank => true ) %>
    </div>
    
    <div class="field">
      <%= f.label :interpretation_success %><br>
      <%= f.select(:interpretation_success, MLOG_VOCAB["interpret_success"].invert, :include_blank => true ) %>
    </div>
    
    <div class="field">
      <%= f.label :imaged_by %><br>
      <%= f.text_field :imaged_by %>
    </div>
    
    <div class="field">
      <%= f.label :imaging_note %><br>
      <%= f.text_area :imaging_note %>
    </div>
    
    <div class="field">
      <%= f.label :image_format %><br>
      <%= f.select(:image_format, MLOG_VOCAB["image_formats"].invert, :include_blank => true ) %>
    </div>
    
    <div class="field">
      <%= f.label :number_of_image_segments %><br>
      <%= f.number_field :number_of_image_segments %>
    </div>
    
    <div class="field">
      <%= f.label :session_count %><br>
      <%= f.number_field :session_count %>
    </div>

    <div class="field">
      <%= f.label :structure %><br>
      <%= f.select(:structure, MLOG_VOCAB["structure"].invert, :include_blank => true ) %>
    </div>

    <div class="field">
      <%= f.label :encoding_scheme %><br>
      <%= f.select(:encoding_scheme, MLOG_VOCAB["encoding_schemes"].invert, :include_blank => true ) %>
    </div>
    
    <div class="field">
      <%= f.label :partition_table_format %><br>
      <%= f.text_field :partition_table_format %>
    </div>
    
    <div class="field">
      <%= f.label :number_of_partitions %><br>
      <%= f.number_field :number_of_partitions %>
    </div>
    
    <div class="field">
      <%= f.label :filesystem %><br>
      <%= f.select(:filesystem, MLOG_VOCAB["filesystems"].invert, :include_blank => true ) %>
    </div>
    <div class="field">
      <%= f.label :image_size_bytes %><br>
      <%= f.number_field :image_size_bytes %>
    </div>
    <div class="field">
      <%= f.label :md5_checksum %><br>
      <%= f.text_field :md5_checksum %>
    </div>
    <div class="field">
      <%= f.label :sha1_checksum %><br>
      <%= f.text_field :sha1_checksum %>
    </div>

    <div class="field">
      <%= f.label :file_systems %><br>
      <% MLOG_VOCAB["filesystems"].invert.each do |fs| %>
        <%= f.label fs[0] %>
        <%= f.check_box :file_systems, { multiple: true}, fs[1], false %>
      <% end %>
    </div>
  </div>
</div>

<div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h4 class="panel-title"><%= t(:workflow) %></h4>
  </div>
  <div class="panel-body">
    <div class="field">
      <%= f.label :is_transferred %><br>
      <%= f.check_box :is_transferred %>
    </div>
        <div class="field">
      <%= f.label :is_refreshed %><br>
      <%= f.check_box :is_refreshed %>
    </div>
  </div>
</div>

<%= f.hidden_field :collection_id, :value => @collection.id %>
<%= f.hidden_field :accession_id, :value => @accession.id %>

<%= f.hidden_field :modified_by, :value => current_user.id %>

<% if action_name == "new" %>
  <%= f.hidden_field :created_by, :value => current_user.id %>
<% end %>

<div class="actions">
  <input type="submit" value="Submit" class="btn btn-primary"/>
</div>
<% end %>
