<table>
<tr>
  <td>
    <%= link_to 'Edit', edit_mlog_entry_path(@mlog_entry), class: "btn btn-primary" %>
    <%= link_to 'Clone', clone_mlog_entry_path(@mlog_entry), class: "btn btn-warning" %> 
    <%= link_to 'Destroy', @mlog_entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
   	<%= link_to '<- Prev', '/nav?id=' + @mlog_entry.id + "&dir=previous", class: "btn btn-info" %>
	<%= link_to 'Next ->', '/nav?id=' + @mlog_entry.id + "&dir=next", class: "btn btn-info" %>
  </td>
  </tr>
</table>