<h3>
  <%= link_to(MLOG_VOCAB["partner_codes"][@col.partner_code], show_repository_path(@col.partner_code)) %>
</h3>

<h4><%= link_to(@col.collection_code + ": " + @col.title, @col) %></h2>

<h4>accession number: <%= params[:accession] %></h2>

<br />
<%= @mlog_entries.size %> entries in database
<br />
total stock size: <%= @sum %>
<br />
total size imaged: <%= @image_sum %>

<br />
<br />
<h3>media objects</h3>
<%= link_to 'Add New', new_mlog_entry_path(:id => @col.id), class: "btn btn-primary" %>
<br />
<br />
<table class="table table-striped">

  <tr>
    <th>Media ID</th>
    <th>Media Type</th>
    <th>Imaging success</th>
    <th>Size</th>
  </tr>


  <div class="page">
  <%= paginate @mlog_entries %>
  </div>
  <% @mlog_entries.each do |mlog_entry| %>
    <tr>
      <td><%= link_to mlog_entry.media_id, mlog_entry_path(mlog_entry) %></td>
      <td><%= MLOG_VOCAB["mediatypes"][mlog_entry.mediatype] %></td>
      <td><%= MLOG_VOCAB["image_success"][mlog_entry.imaging_success] %></td>
      <td>
        <% if mlog_entry.image_size_bytes != nil then %>
          <%= human_size(mlog_entry.image_size_bytes) %>
        <% else %>
         --
        <% end %>
      </td>
    </tr>
  <% end %>


</table>

<br>

<%= link_to 'New Entry', new_mlog_entry_path, class: "btn btn-primary btn-sm" %>
