<h3><%= link_to(MLOG_VOCAB["partner_codes"][@col.partner_code], "/repository/" + @col.partner_code) %></h3>

<h4><%= link_to(@col.collection_code + ": " + @col.title, @col) %></h2>

<h4>accession number: <%= params[:accession] %></h2>

<br />
<%= @mlog_entries.size %> entries in database
<br />
total stock size: <%= @sum %>
<br />
total size imaged: <%= @image_sum %>

<br />
<b>media objects</b>
<br />

<%= render 'btable' %>
