<h4><%= link_to(MLOG_VOCAB["partner_codes"][@mlog_entries[0].partner_code], "/repository/" + @mlog_entries[0].partner_code)%></h2>


<div class="lead"><%= MLOG_VOCAB["collection_codes"][@mlog_entries[0].collection_code] %></div>

<br />
<%= @mlog_entries.size %> entries in database
<br />
total stock size: <%= @sum %>
<br />
total size imaged: <%= @image_sum %>
<hr />

<%= link_to "inventory view", "/collection/" + @mlog_entries[0].collection_code + "/uuids" %>
<br>
<b>accessions</b>:
<div class="well"> 
<% @accessions.each do |acc| %>
	<i><%= link_to acc, ("/accession?accession=" + acc + "&collection=" + @mlog_entries[0].collection_code) %></i>
<% end %>
</div>

<b>media objects</b>
<%= render 'btable' %>
