<br/>

<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-right"><%= link_to "reset password", controller: "users", action: "reset_password" %></p>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">MediaLog Entries</h3>
  </div>
  
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Partner Code</th>
          <th>Collection Code</th>
          <th>Accession Num</th>
          <th>Media ID</th>
          <th>Media Type</th>
          <th>Imaged</th>
        </tr>
      </thead>

      <tbody>
        <%= paginate @mlog_entries %>
        <% @mlog_entries.each do |mlog_entry| %>
          <tr>  
            <td>
              <%=  link_to @collections[mlog_entry.collection_id].p_code, show_repository_path(@collections[mlog_entry.collection_id].p_code) %>
            </td>
            <td>
              <%=  link_to @collections[mlog_entry.collection_id].c_code, collection_path(mlog_entry.collection_id) %>
            </td>
            <td>
              <% if (mlog_entry.accession_id != nil) then %>
                <%= link_to @accessions[mlog_entry.accession_id], accession_path(mlog_entry.accession_id) %>
              <% end %>
            </td>
            <td><%= link_to mlog_entry.media_id, mlog_entry_path(mlog_entry) %></td>
            <td><%= MLOG_VOCAB["mediatypes"][mlog_entry.mediatype] %></td>
            <td><%= MLOG_VOCAB["image_success"][mlog_entry.imaging_success] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formats</h3>
  </div>
  <div class="panel-body">

    <table class="table table-condensed">
          <tr>
            <th>type</th>
            <th>count</th>
            <th>size</th>
          </tr>
          <% @type_data.each do |media_type, value| %>
            <tr>
              <td><%= MLOG_VOCAB['mediatypes'][media_type] %></td>
              <td><%= value[:count] %></td>
              <td><%= human_size value[:size] %></td>
            </tr>
          <% end %>
          <tr>
            <td/>
            <td><b><%= @mlog.size %></b></td>
            <td><b><%= human_size(@total_size) %></b></td>
        </table>
  </div>
</div>