<h2><%= MLOG_VOCAB["partner_codes"][params[:repo]] %></h2>

<p>
  total stock size: <%= @sum_stock %><br />
  total size imaged: <%= @sum_image %><br />
</p>

<%= link_to 'Add Collection', new_collection_path, class: "btn btn-primary" %>

<h3>collections</h3>

<table class="table table-striped repository">
  <theader>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>stock size</th>
      <th>amount imaged</th>
    <tr>
  </theader>
  <tbody>
    <% @colls.each do |coll| %>
      <tr>
        
        <td><%= link_to @min_cols[coll[0]].c_code, collection_path(coll[1].id.to_s) %> </td>
        <td><%= coll[1].name %></td>
        <td><%= human_size(coll[1].stock_size) %></td>
        <td><%= human_size(coll[1].image_size) %></td>
      </tr>
    <% end %>   
  </tbody>
</table>
