<h1>Search MediaLog</h1>

<%= form_tag("/search", method: "post", role: "form") do %>
  
  <div class="form-group">
    <%= label_tag(:partner, "Partner Code:") %><br />
    <%= text_field_tag(:partner) %>
  </div>
 
  <div class="form-group">
    <%= label_tag(:collection, "Collection Code:") %><br />
    <%= text_field_tag(:collection) %>
  </div>
<!--
  <div class="form-group">
    <%= label_tag(:collection_name, "Collection Name:") %><br />
    <%= text_field_tag(:collection_name) %>
  </div>
-->
  <div class="form-group">
    <%= label_tag(:media, "Media Id:") %><br />
    <%= text_field_tag(:media) %>
  </div>
<!--  
<div class="form-group">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Any</button>
      <button type="button" class="btn btn-default">All</button>
    </div>
  </div>
-->
  <button type="submit" class="btn btn-default">Submit</button>
<% end %>



