<h2>reset your password</h2>

<%= form_for :password_request do |f| %>
  
  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

    <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
