<h2>reset for password for <%= @user.email %></h2>

<%= form_for :password_request do |f| %>
  <%= f.hidden_field :id, :value => @user.id.to_s %>

  <div class="field">
    <%= f.label 'New Password' %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

    <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

