<div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Mod. Date</th>
          <th>Repository</th>
          <th>Resource</th>
          <th>Accession</th>
          <th>ID</th>
          <th>Type</th>
          <th>Box #</th>
          <th>Refreshed</th>
          <th>Transferred</th>
        </tr>
      </thead>

      <tbody>
        <%= paginate @mlog_entries %>
        <% @mlog_entries.each do |mlog_entry| %>
          <tr>  
            <td> 
              <%= mlog_entry.updated_at.to_datetime.to_date %>
            </td>

            <td>
              <%= link_to @collections[mlog_entry.collection_id].p_code, "/repository/" + @collections[mlog_entry.collection_id].p_code %>
            </td>
            
            <td>
              <%= 
                link_to @collections[mlog_entry.collection_id].c_code + " " + @collections[mlog_entry.collection_id].c_title.truncate(25), 
                  collection_path(mlog_entry.collection_id) 
              %>
            </td>

            <td>
              <%= link_to @min_accessions[mlog_entry.accession_id], accession_path(mlog_entry.accession_id) %>
            </td>
            
            <td>
              <%= link_to mlog_entry.media_id, mlog_entry_path(mlog_entry) %>       
            </td>
            
            <td>
              <%= MLOG_VOCAB["mediatypes"][mlog_entry.mediatype] %>     
            </td>
            
            <td>
              <%= mlog_entry.box_number %>
            </td>
            
            <td>
              <% if mlog_entry.is_refreshed %>
                  Yes
              <% else %>
                No
              <% end %> 
            </td>
            <td>
              <% if mlog_entry.is_transferred %> 
                Yes
              <% else %>
                No
              <% end %>    
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>