<br />

<div class="panel panel-default">
  <div class="panel-body">
    <h4>
      <%= link_to(MLOG_VOCAB["partner_codes"][@collection.partner_code], show_repository_path(@collection.partner_code)) %>
    </h4>

    <h4><%= link_to(@collection.collection_code  + ": " + @collection.title, @collection) %></h4>

    <h3>accession number: <%= @accession.accession_num %></h3>
    <p>
      created at <%= @accession.created_at %> <br/>
      updated at <%= @accession.updated_at %><br/>
      total size inventoried: <b><%= @summaries["stock_size"] %></b><br/>
      total size imaged: <b><%= @summaries["image_size"] %></b>
    </p>

    <%= link_to 'Edit', edit_accession_path(@accession), class: "btn btn-primary" %>
    <%= link_to 'Destroy', @accession, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Accession Note</h3>
  </div>
  <div class="panel-body"><%= @accession.accession_note %></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Media Objects</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">

      <tr>
        <th>Media ID</th>
        <th>Media Type</th>
        <th>Size</th>
        <th>Imaging success</th>
        
      </tr>

      <div class="page">
        <%= paginate @mlog_entries %>
      </div>
      <% @mlog_entries.each do |mlog_entry| %>
        <tr>
          <td><%= link_to mlog_entry.media_id, mlog_entry_path(mlog_entry) %></td>
          <td><%= MLOG_VOCAB["mediatypes"][mlog_entry.mediatype] %></td>     
          <td>
            <% if mlog_entry.stock_size_num != nil %>
              <%= mlog_entry.stock_size_num.to_s  + " " + mlog_entry.stock_unit %>
            <% end %>
          </td>
          <td><%= MLOG_VOCAB["image_success"][mlog_entry.imaging_success] %></td>
        </tr>
      <% end %>

    </table>

    <%= link_to 'Add New', new_mlog_entry_path(:id => @collection.id, :accession_id => @accession.id), class: "btn btn-primary" %>
  </div>
</div>