<p> Range <%= @beginDate %> - <%= @endDate %></p>

<table class="table table-condensed">
  <tr>
    <th>type</th>
    <th>count</th>
    <th>size</th>
  </tr>
  <% @type_data.each do |media_type, value| %>
    <tr>
      <td><%= MLOG_VOCAB['mediatypes'][media_type] %></td>
      <td><%= value[:count] %></td>
      <td><%= human_size value[:size] %></td>
    </tr>
  <% end %>
  <tr>
    <td/>
    <td><b><%= @mlog.size %></b></td>
    <td><b><%= human_size(@total_size) %></b></td>
</table>

<h1>Fales</h1>
<table class="table table-condensed">
  <tr>
    <th>type</th>
    <th>count</th>
    <th>size</th>
  </tr>
  <% @fales_data.each do |media_type, value| %>
    <tr>
      <td><%= MLOG_VOCAB['mediatypes'][media_type] %></td>
      <td><%= value[:count] %></td>
      <td><%= human_size value[:size] %></td>
    </tr>
  <% end %>
  <tr>
    <td/>
    <td><b><%= @fales_data.size %></b></td>
    <td><b><%= human_size(@fales_size) %></b></td>
</table>

<h1>Tamwag</h1>
<table class="table table-condensed">
  <tr>
    <th>type</th>
    <th>count</th>
    <th>size</th>
  </tr>
  <% @tamwag_data.each do |media_type, value| %>
    <tr>
      <td><%= MLOG_VOCAB['mediatypes'][media_type] %></td>
      <td><%= value[:count] %></td>
      <td><%= human_size value[:size] %></td>
    </tr>
  <% end %>
  <tr>
    <td/>
    <td><b><%= @tamwag_data.size %></b></td>
    <td><b><%= human_size(@tamwag_size) %></b></td>
</table>

<h1>NYU Archives</h1>
<table class="table table-condensed">
  <tr>
    <th>type</th>
    <th>count</th>
    <th>size</th>
  </tr>
  <% @nyu_data.each do |media_type, value| %>
    <tr>
      <td><%= MLOG_VOCAB['mediatypes'][media_type] %></td>
      <td><%= value[:count] %></td>
      <td><%= human_size value[:size] %></td>
    </tr>
  <% end %>
  <tr>
    <td/>
    <td><b><%= @nyu_data.size %></b></td>
    <td><b><%= human_size(@nyu_size) %></b></td>
</table>