<h1>Annual Reports</h1>
<ul class="list-group">
  <% (2014..2018).to_a.each do |year| %>
   <li class="list-group-item">
   	<%= year %><br />
   	<%= link_to "all", "/reports/year/" + year.to_s %> 
   	<%= link_to "Fales", "#" %>
   	<%= link_to "Tamiment-Wagner", "#" %>
   	<%= link_to "NYU Archives", "#" %>
   </li>
  <% end %>
</ul>