<table class="table table-condensed">
  <tr>
    <th>type</th>
    <th>count</th>
    <th>size</th>
  </tr>
  <% @type_data.each do |media_type, value| %>
    <tr>
      <td><%= MLOG_VOCAB['mediatypes'][media_type] %></td>
      <td><%= value[:count] %></td>
      <td><%= human_size value[:size] %></td>
    </tr>
  <% end %>
  <tr>
    <td/>
    <td><b><%= @type_data.size %></b></td>
    <td><b><%= human_size(@total_size) %></b></td>
</table>