<%# add navigation links to this file %>

<%# <%= link_to 'Search', "/search" %>


<td>
  <div class="btn-group">
		<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    	Repositories
        <span class="caret"></span>
		</button>
    <ul class="dropdown-menu">
      <% MLOG_VOCAB['partner_codes'].each do |col| %>
        <li><%= link_to col[1], "/repository/" + col[0], class: "btn btn-info btn-xs" %></li>
      <% end %>
    </ul>
  </div>
</td>


<!--
<td>
  <div class="btn-group">
		<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    	Reports
        <span class="caret"></span>
		</button>
    <ul class="dropdown-menu">
      <li><%= link_to 'Formats', '/reports/format', class: "btn btn-info btn-xs" %></li>
    </ul>
  </div>
</td>
-->

<% if current_user.try(:admin?) %> 
  <!-- <%= link_to 'Register User', '/users/new' %> -->
  <%= link_to 'Admin Options', '/admin' %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% end %>