<%# add navigation links to this file %>

<%= link_to 'Search', "/search" %>


<td>
  <div class="btn-group">
		<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    	Repositories
        <span class="caret"></span>
		</button>
    <ul class="dropdown-menu">
    	<li>
    		<%= link_to 'Fales', "/repository/fales", class: "btn btn-info btn-xs" %>
    	</li>
			<li>
				<%= link_to 'Tamiment Wagner', "/repository/tamwag", class: "btn btn-info btn-xs" %>
			</li>
			<li>
				<%= link_to 'University Archives', "/repository/nyuarchives", class: "btn btn-info btn-xs" %>
			</li>
			<li>
				<%= link_to 'Abu Dhabi', "/repository/abudhabi", class: "btn btn-info btn-xs" %>
			</li>
    </ul>
  </div>
</td>



<td>
  <div class="btn-group">
		<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    	Reports
        <span class="caret"></span>
		</button>
    <ul class="dropdown-menu">
      <li><%= link_to 'Formats', '/reports/format', class: "btn btn-info btn-xs" %></li>
    </ul>
  </div>
</td>

<% if current_user.try(:admin?) %>
  <%= link_to 'Register User', '/users/new' %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% end %>